/*
 *  * Style tweaks
 *   * --------------------------------------------------
 *    */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
}
footer {
    padding: 30px 0;
}

.alert-build-status {
    margin-top: -15px;
    position: fixed;
    width: 100%;
    z-index: 1030;
    opacity: .8;
    text-align: center;
}

.table-container {
    border-radius: 6px;
    background-color: #eee;
    padding-top: 30px;
}

.user-git-addr {
    margin: 0 50px;
    padding-bottom: 10px;
}

.git-update-button {
    padding-left: 20px;
}

.job_log {
    background-color: #fff;
    margin: 5px;
    text-align: left;
}

/*
 *  * Off Canvas
 *   * --------------------------------------------------
 *    */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}
