<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ISOBuilder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="nav-home"><a href="/">Home</a></li>
                <li id="nav-jobs"><a href="/jobs">任务列表</a></li>
                <li id="nav-help"><a href="/help">帮助</a></li>
                {% if current_user %}
                <li id="nav-my"><a href="/my">配置</a></li>
                {% endif %}
                {% if current_user.role == "admin" %}
                <li id="nav-admin"><a href="/admin">用户管理</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user %}
                <li><a href="/logout">登出</a></li>
                {% else %}
                <li><a href="/login">登入</a></li>
                {% endif %}

            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
<!--
<div class="navbar alert-build-status alert alert-success" role="alert">Auto hide and show</div>
-->
