<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>ISOBuilder Service</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/offcanvas.css" rel="stylesheet">

  </head>

  <body>
    {% include 'common-nav.html' %}

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <h2>配置地址</h2>
                {% if current_user and not current_user.git %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Please Setup you Git repo.
                    </div>
                {% elif current_user and not branchs %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ current_user.git }} 不是正确的Git地址
                    </div>
                {% elif current_user.git %}
                <div class="row">
                    <div>
                        <div class="input-group user-git-addr">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Git</button>
                            </span>
                            <input type="text" class="form-control" aria-label="..." value={{ current_user.git }} readonly="readonly">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" id="branch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">master<span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% if branchs %}
                                        {% for branch in branchs %}
                                        <li><a class="branches">{{ branch }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div><!-- /btn-group -->
                            <span></span>
                            <span class="input-group-btn git-update-button">
                                <button type="button" class="btn btn-info">更新</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div><!-- /.row -->
                {% else %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        请登录.
                    </div>
                {% endif %}

                {% if current_user %}
                <form>
                    <h3>配置软件包</h3>

                    <h3>指定架构</h3>
                    <div class="form-group">
                        <div class="checkbox row">
                            <label class="col-sm-4 col-xs-4">
                                <input type="checkbox" id="build_all"  name="build_all">编译AMD64和I386架构
                            </label>
                        </div>
                    </div>
                    <h3>其他设置</h2>
                    <div class="form-group">
                        <div class="checkbox row">
                            <label class="col-sm-2 col-xs-2">
                                <input type="checkbox" id="update_pxe" name="update_pxe">更新PXE
                            </label>
                            <label class="col-sm-2 col-xs-2">
                                <input type="checkbox" id="mail_successful" name="mail_successful">成功邮件 
                            </label>
                            <label class="col-sm-2 col-xs-2">
                                <input type="checkbox" name="mail_failed" id ="mail_failed">失败邮件
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" id="create_job">Submit</button>
                </form>

                <hr>
                <div>
                    <h2>最近编译列表</h2>
                    <div class="container">
                        <div class="table-container">
                            <table class="table table-hover">
                                <thead>
                                    <tr><th>#</th>
                                        <th>状态</th>
                                        <th>名称</th>
                                        <th>创建时间</th>
                                        <th>描述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in jobs %}
                                    <tr>
                                        <th scope="row">{{ job[0] }}</th>
                                        {% set status = job[1]['status'] %}
                                        {% if status == 0 %}
                                        <td><span class="label label-default">等待</span></td>
                                        {% elif status == 100 %}
                                        <td><span class="label label-warning">队列中</span></td>
                                        {% elif status == 200 %}
                                        <td><span class="label label-primary">生成..</span></td>
                                        {% elif status == 1000 %}
                                        <td><span class="label label-success">成功</span></td>
                                        {% else %}
                                        <td><span class="label label-danger">失败</span></td>
                                        {% endif %}
                                        <td>{{ job[1]['name'] }}</td>
                                        <td>{{ job[1]['create_date'] }}</td>
                                        <td>{{ job[1]['desc'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
                {% endif %}
      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript">
    $(document).ready(function(){
        $("#nav-home").addClass("active");
    });
    $(".branches").click(function(){
	$("#branch")[0].innerHTML=this.innerHTML+'<span class="caret"></span>';
    });
    $("#create_job").click(function(){
        var branch=$("#branch").text();
        data={
            "branch": branch,
            "build_all": $("#build_all").is(":checked") ? "on":"off",
            "update_pxe": $('#update_pxe').is(":checked") ? "on":"off",
            "mail_successful": $('#mail_successful').is(":checked") ? "on": "off",
            "mail_failed": $('#mail_failed').is(":checked")? "on": "off"
        };
        $.post('/create_job', data, function(data, status){alert(data);});
    });
    </script>
  </body>
</html>
