<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>ISOBuilder Service</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/offcanvas.css" rel="stylesheet">

  </head>

  <body>
    {% include 'common-nav.html' %}
    <div class="container">
        <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr><th>#</th>
                    <th>状态</th>
                    <th>名称</th>
                    <th>创建用户</th>
                    <th>创建时间</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ job[0] }}</th>
                    {% set status = job[1]['status'] %}
                    {% if status == 0 %}
                        <td><span class="label label-default">等待</span></td>
                    {% elif status == 100 %}
                        <td><span class="label label-warning">队列中</span></td>
                    {% elif status == 200 %}
                        <td><span class="label label-primary">生成..</span></td>
                    {% elif status == 1000 %}
                        <td><span class="label label-success">成功</span></td>
                    {% else %}
                        <td><span class="label label-danger">失败</span></td>
                    {% endif %}
                    <td>{{ job[1]['name'] }}
			{% if job[1]['update_pxe'] == 1 %}
			<span class="label label-success"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></span>
			{% endif %}
			{% if job[1]['mail_successful'] == 1 %}
			<span class="label label-success"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></span>
			{% endif %}
			{% if job[1]['mail_failed'] == 1 %}
			<span class="label label-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></span>
			{% endif %}
		    </td>
                    <td>{{ job[1]['create_user'] }}</td>
                    <td>{{ job[1]['create_date'] }}</td>
		    <td>{{ job[1]['desc'] }} </td>
                </tr>
            </tbody>
        </table>
        {% if job[1]['iso'] %}
        <h3>下载链接</h3>
        <div>
	    <a href=http://isobuild.corp.linuxdeepin.com/iso/{{ job[1]['iso'] }}> {{ job[1]['iso'] }} </a>
        </div>
        {% endif %}
        <h3>编译日志</h3>
            <div class="panel">
                <div>开始时间: {{ job[1]['start_time'] }}</div>
                <div>结束时间: {{ job[1]['end_time'] }}</div>
            </div>
            <pre class="job_log">
Start: {{ job[1]['create_date'] }}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/log/{{ job[1]['log'] }}"></iframe>
                </div>
            </pre>
        </div>
    </div>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#nav-jobs").addClass("active");
    });
    </script>
  </body>
</html>
