<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>ISOBuilder Service</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/offcanvas.css" rel="stylesheet">

  </head>

  <body>
    {% include 'common-nav.html' %}
    <div class="container">
        <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr><th>#</th>
                    <th>状态</th>
                    <th>名称</th>
                    <th>创建用户</th>
                    <th>创建时间</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
               {% for job in jobs %}
                <tr>
                    <th scope="row"><a href="/job/{{ job[0] }}">{{ job[0] }}</a></th>
                    {% set status = job[1]['status'] %}
                    {% if status == 0 %}
                        <td><span class="label label-default">等待</span></td>
                    {% elif status == 100 %}
                        <td><span class="label label-warning">队列中</span></td>
                    {% elif status == 200 %}
                        <td><span class="label label-primary">生成..</span></td>
                    {% elif status == 1000 %}
                        <td><span class="label label-success">成功</span></td>
                    {% else %}
                        <td><span class="label label-danger">失败</span></td>
                    {% endif %}
                    <td>{{ job[1]['name'] }}</td>
                    <td>{{ job[1]['create_user'] }}</td>
                    <td>{{ job[1]['create_date'] }}</td>
                    <td>{{ job[1]['desc'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                {% for l in range(length) %}
                {% if jobs_id|int() == (l+1)|int() %}
                        <li class="active" id="id_{{ l+1 }}"><a href="/jobs/{{ l+1 }}">{{ l+1 }}</a></li>
                    {% else %}
                        <li id="id_{{ l+1 }}"><a href="/jobs/{{ l+1 }}">{{ l+1 }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#nav-jobs").addClass("active");
    });
    </script>
    <script src="offcanvas.js"></script>
  </body>
</html>
