<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>ISOBuilder Service</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/offcanvas.css" rel="stylesheet">

  </head>

  <body>
    {% include 'common-nav.html' %}
    <div class="container">
        <div class="row">
        <div class="col-md-4 col-md-offset-4 well">
            <h2>Login</h2>
            <p>Please insert your credentials:</p>
            <form action="login" method="post" name="login"  class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="username" class="control-label"> 用户名:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="password" class="control-label">密码:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-3">
                        <button class="btn btn-info" type="submit" >登录</button>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </div>
            </form>
            <br />
        </div>
        </div>
    </div><!--/.container-->

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>
