<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>ISOBuilder Service</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/offcanvas.css" rel="stylesheet">

  </head>

  <body>
    {% include 'common-nav.html' %}
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div> 
          <div class="jumbotron">
            <h1>Hello, {{ current_user.username }}!</h1>
            <p>Your Role is: {{ current_user.role }}</p>
          </div>
              <h2>配置</h2>
          <div class="jumbotron">
              <p>修改:</p>
              <form action="modify_user" method="post" id="user" class="form-horzontal">
                  <div class="form-group">
                      <label>Email:</label>
                      <input class="form-control" type="text" name="email" id="email" value={{current_user.email_addr}} />
                  </div>
                  <div class="form-group">
                    <label>Role</label> 
                    <input class="form-control" type="text" name="role" id="role" value={{current_user.role}} />
                  </div>
                  <div class="form-group">
                    <label>Password</label> 
                    <input class="form-control" type="password" name="password" id="password"/>
                  </div>
                  <div class="form-group">
                    <label>Git</label>
                    <input class="form-control" type="text" name="git" value={{current_user.git}} id="git"/>
                  </div>
              </form>
              <div id="alert" class="alert" role="alert"></div>
              <button class="btn btn-default" type="submit" id="submit_button">更新</button>
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

    </div><!--/.container-->


    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#nav-my").addClass("active");
        $("#alert").hide();
    });
    $("#submit_button").click(function(){
        $.post('/modify_user', {
            email: $('#email').val(),
            role: $('#role').val(),
            password: $('#password').val(),
            git: $('#git').val(),
        }, function(data, status) {
            var msg = data.msg;
            console.log(msg)
            if (data.ok == true) {
                $("#alert").addClass("alert-success");
                $("#alert").text(msg);
                $("#alert").show();
            } else {
                $("#alert").addClass("alert-danger");
                $("#alert").text(msg);
                $("#alert").show();

            }
            setTimeout(function(){$("#alert").hide()}, 3000);
       });
    });
    </script>
    <script src="offcanvas.js"></script>
  </body>
</html>
